/*Reset Desktop*/
* {
    box-sizing: border-box;
}

aside, div, section, header, footer, nav {
    display: block;
}

html, body, #wrapper {
    margin: 0;
    padding: 0;
}

html {
    background-color: black;
    color: white;
}

body {
    margin: 0 auto;
}

#wrapper {
    margin: 0 auto;
    background-color: transparent;
}

/*Fin reset desktop*/

/*style header (menu principal)*/
header {
    color: white;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

header li {
    text-align: center;
}

header a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
}

[class*="col-"] {
    width: 100%;
    padding: 0 0;
    float: left;
}

header li:hover {
    border-bottom: 2px solid darkslategray;
    border-top: 2px solid darkslategray;
}

/*style sur la boite de recherche*/
input[type=text] {
    padding-top: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: large;
    width: 100%;

}

.responsive-menu li:nth-child(5) {
    border-bottom: 2px solid darkslategray;
    border-top: 2px solid darkslategray;
}

/*style sur le telephone en bas du menu*/
#info p {
    text-align: right;
    margin-right: 5%;
}

/*menu hamburguer*/
.menu-btn {
    padding: 6px;
}

/*on style le hamburger*/
.menu-btn span {
    display: block; /*les span se placent les uns sous les autres*/
    width: 50px; /*largeur de la rayure*/
    height: 3px; /*hauteur de la rayure*/
    margin: 8px 0; /*on les sépare*/
    background: rgb(255, 255, 255); /*couleur des rayures*/
    z-index: 99;
    color: white;
}

/*on cache le menu par défaut*/
.responsive-menu {
    display: none;
}

/*on affiche le menu qd l'utilisateur clique sur le hamburger, on ajoute la classe expand en jQuery*/
.expand {
    display: block !important;
}

/*fin menu hamburguer*/
/*style sur le main*/

main h2{
    background: grey;
}


header li:first-of-type{
    font-family: 'Baloo', cursive;
    font-size: 25px;
}

#color{
    color:red;
}

header li:nth-of-type(2){
    font-family: 'Russo One', sans-serif;
}

header li:nth-of-type(3){
    font-family: 'Russo One', sans-serif;
}

header li:nth-of-type(4){
    font-family: 'Russo One', sans-serif;
}

header li:nth-of-type(5){
    font-family: 'Russo One', sans-serif;
}

#infoaside ul{
    list-style-type: none;
    padding: 0;
}



#asideinfo ul li{
    margin-left: 20px;
}

#activitressecondaires p{
    margin-left: 20px;
    text-align: center;
}

#envoyer {
    width: 100px;
    border-radius: 10%;
    margin-top: 20px;

}

#email{
    padding-top: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: large;
    width: 100%;
}


#googlemap {

    width: 100%;
    text-align: center;
    margin-top: 10px;
}

/*style pour le footer*/
#sitemap {
    display: none;
}

#adress ul li {
    color: white;
    text-align: center;
    list-style-type: none;
}

#adress {
    overflow: hidden;
}

#social {
    text-align: center;
    font-size: 40px;
}

#social i {
    /* margin-right: 8px;
     margin-left: 7px;*/
    width: 15%;
}

/*Systeme de grilles---------------------------------------------------------*/

/*chaque rangee de collones doit etre enveloppee dans une div de class "row" on applique un clear: both sur chaque row afin d'annuler l'effet de float
et eviter que les elements suivants remontent et entourent le row*/

/*Medium devices ------------------------------------*/
@media only screen and (min-width: 768px) {

    [class*="col-"] { float: left; padding: 0 15px; }

    .row:after {
        content: "";
        clear: both;
        display: block;
    }

    /* 1 colonne*/
    .col-m-1 {
        width: 8.33%
    }

    /* 2 colonne*/
    .col-m-2 {
        width: 16.66%
    }

    /* 3 colonne*/
    .col-m-3 {
        width: 25%
    }

    /* 4 colonne*/
    .col-m-4 {
        width: 33.33%
    }

    /* 5 colonne*/
    .col-m-5 {
        width: 41.66%
    }

    /* 6 colonne*/
    .col-m-6 {
        width: 50%
    }

    /* 7 colonne*/
    .col-m-7 {
        width: 58.33%
    }

    /* 8 colonne*/
    .col-m-8 {
        width: 66.66%
    }

    /* 9 colonne*/
    .col-m-9 {
        width: 75%
    }

    /* 10 colonne*/
    .col-m-10 {
        width: 83.33%
    }

    /* 11 colonne*/
    .col-m-11 {
        width: 91.66%
    }

    /* 12 colonne*/
    .col-m-12 {
        width: 100%
    }

    #wrapper {

        margin-top: 5px;
    }

    #menu-btn {
        display: none;
    }

    .responsive-menu {
        display: inline;

    }

    /**/
    .responsive-menu li:nth-child(5) {
        border-bottom: 2px solid darkslategray;
        border-top: 2px solid darkslategray;
    }

    /*style footer medium devices*/
    /*style sur les icones du social media*/
    #social {
        line-height: 70px;
        height: 100px;
    }

    #social i {
        /* margin-right: 4px;
         margin-left: 4px;*/
        width: 15%
    }

    /* style sur les icones du map du site*/
    #sitemap {
        display: block;
        background-color: gray;
        height: 100px;

    }

    #sitemap a {
        text-decoration: none;
        color: white;
    }

    #sitemap ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-left: 15%;
    }

    /*style sur ladresse et le telephone*/
    #adress {
        background-color: gray;
        height: 100px;
    }

    /*search box*/
    #search p {
        text-align: center;
    }

    input[type=text] {
        padding-top: 10px;
        border-radius: 25px;
        text-align: center;
        font-size: large;
        width: 100%;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

#email{
    padding-top: 10px;
    border-radius: 25px;
    text-align: center;
    font-size: large;
    width: 100%;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
    #email:focus{
    width:100%
}
    /* When the input field gets focus, change its width to 100% */
    input[type=text]:focus {
        width: 100%;
    }
}
@media only screen and (min-width: 950px){
    .row:after {
        content: "";
        clear: both;
        display: block;
    }

    /* 1 colonne*/
    .col-1 {
        width: 8.33%
    }

    /* 2 colonne*/
    .col-2 {
        width: 16.66%
    }

    /* 3 colonne*/
    .col-3 {
        width: 25%
    }

    /* 4 colonne*/
    .col-4 {
        width: 33.33%
    }

    /* 5 colonne*/
    .col-5 {
        width: 41.66%
    }

    /* 6 colonne*/
    .col-6 {
        width: 50%
    }

    /* 7 colonne*/
    .col-7 {
        width: 58.33%
    }

    /* 8 colonne*/
    .col-8 {
        width: 66.66%
    }

    /* 9 colonne*/
    .col-9 {
        width: 75%
    }

    /* 10 colonne*/
    .col-10 {
        width: 83.33%
    }

    /* 11 colonne*/
    .col-11 {
        width: 91.66%
    }

    /* 12 colonne*/
    .col-12 {
        width: 100%
    }


    aside{
        height: 100%;
    }


    #googlemap{
        width: 100%;
    }



    h2{
       background: transparent;
    }
    /*les balises em n'impactent pas le rendu visuel */
    em { font-weight: normal; font-style: normal; }

    input[type=text] {
        padding-top: 10px;
        border-radius: 25px;
        text-align: center;
        font-size: large;
        width: 100%;

    }

    input[type=email] {
        padding-top: 10px;
        border-radius: 25px;
        text-align: center;
        font-size: large;
        width: 100%;

    }
    textarea {
        width: 200px;
        height: 200px;
    }
}